body {
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
#cookie_btn {
    width: 260px;
    height: 260px;
    border: none;
    padding: 0;
    outline: none;
    background-image: url('./img/ks.png');
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    transition: 0.1s;
    border-radius: 20%;
}
#cookie_btn:hover {
    background-image: url('./img/ks2.png');
}
#cookie {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clicks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50;
}
#coockie_btn:active {
    width: 50px;
    height: 50px;
}
.UPmenu{
    align-items: right;
    justify-content: right;
    text-align: right;
    background-color: black;
    margin-bottom: 25;
}
.mentext{
    text-decoration: none;
    color: white;
    font-size: 35;
}
.holod{
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.objectHol{
	background-color: white;
	padding: 10 10;
	text-align: center;
	font-size: 15;
	border: 1px solid gray;
	border-radius: 10px;
	border-spacing: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Zag {
    text-align: center;
    background-color: white;
    font-size: 30;
}
.clw {
    background-color: white;
}